<ul id="login-form-lis">
	<form id="login-form" action="/users" method="post">
	  <li id="login-username"><input type="text" name="user[username]" placeholder="username" required></li>
	  <li id="login-password"><input type="password" name="user[password]"placeholder="password" required></li>
	  <input id="login-button" type="submit" value="submit">
	</form>
</ul>


